APP_AI_DEEPSEEK_API_KEY=
APP_AI_DEEPSEEK_BASE_URL=https://api.deepseek.com
APP_AI_DEEPSEEK_DEFAULT_MODEL=deepseek-chat

APP_AI_OPENAI_API_KEY=
APP_AI_OPENAI_BASE_URL=https://api.openai.com
APP_AI_OPENAI_DEFAULT_MODEL=gpt-4o-mini
